<form [formGroup]="bankForm" (ngSubmit)="submitForm()">
  <div *ngFor="let ff of formFields$ | async" class="form-group">
    <ng-container *ngIf="bankForm.controls.hasOwnProperty(ff.name)">
      <div class="form-row" [ngSwitch]="ff.type">
        <label class="col-5 col-form-label" for="{{ff?.name}}">{{ff?.label}}</label>

        <ng-container *ngSwitchCase="enumService.FormType.TEXT">
          <input id="{{ff?.name}}"
                 class="col-7 form-control"
                 [type]="ff.type"
                 [name]="ff?.name"
                 [formControlName]="ff?.name"
                 [ngClass]="bankForm.get(ff.name).touched && bankForm.get(ff?.name).errors ? 'is-invalid' : null">
          <ng-container [ngTemplateOutlet]="errorMsg"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="enumService.FormType.PASSWORD">
          <input id="{{ff?.name}}"
                 class="col-7 form-control"
                 [type]="ff.type"
                 [name]="ff?.name"
                 [formControlName]="ff?.name"
                 [ngClass]="bankForm.get(ff.name).touched && bankForm.get(ff?.name).errors ? 'is-invalid' : null">
          <ng-container [ngTemplateOutlet]="errorMsg"></ng-container>
        </ng-container>

        <ng-container>
          <select id="{{ff?.name}}"
                  class="col-7 form-control"
                  *ngSwitchCase="enumService.FormType.LIST"
                  [name]="ff?.name"
                  [formControlName]="ff?.name"
                  [ngClass]="bankForm.get(ff.name).touched && bankForm.get(ff.name).errors ? 'is-invalid' : null">
            <option *ngFor="let item of ff.values" [value]="item.value">{{item.label}}</option>
            <ng-container [ngTemplateOutlet]="errorMsg"></ng-container>
          </select>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #errorMsg>
      <div *ngIf="bankForm.get(ff.name).hasError('required')" class="invalid-feedback">Veuillez renseigner ce champ.</div>
      <div *ngIf="bankForm.get(ff.name).hasError('pattern')" class="invalid-feedback">Veuillez respecter le format demandé.</div>
    </ng-template>
  </div>

  <button *ngIf="!bankForm.disabled" type="submit" class="btn btn-primary" [disabled]="bankForm.pristine || bankForm.invalid">Envoyer</button>
  <div class="clearfix"></div>

  <!--p>{{bankForm.value | json}}</p-->
</form>
